@font-face {
    font-family: "Hack Nerd Font Mono";
    src: url('./resources/fonts/Hack-Regular-Nerd-Font-Complete-Mono.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
}
.title {
    position: absolute;
    top: 2%;
    left: 5%;
    display: block;
    z-index: 100;
    color: dodgerblue;
    font-family: "Hack Nerd Font Mono";
}

.console {
    font-family: "Hack Nerd Font Mono";
    font-size: 8pt;
    position: absolute;
    top: 5%;
    left: 1%;
    width: 30%;
    height: 90%;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(10, 60, 10);
    color: green;
    pointer-events: none;
}

.show {
    z-index: 100;
}

.hide {
   z-index: -1;
}

.grab {
    cursor: grab;
}
